/*app */
.App {
  text-align: center;
}


*{
  margin:0;
  padding:0;
  
}



.movieList{
  background-color: cyan;
}

.star-btn{
  background-color: black;
  border-color: black;
}

.star-btn:hover{
  background-color:gold;
}
.Rate{
  display:flex
}
/*movie list */
*{
  padding:0;
  margin:0;
}
.poster{
  width:300px;
  height:450px;
}




.MovieCard{
  background-color: black;
  color:white;
  border: grey solid 1px;
  padding:7px;
 font-size: 20px;
 text-align: start;
} 

.title{
  font-size: 35px;
}
.List{
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 5px;
}

span .fas{
  color:gold;
}

/* add button */
.add-btn{
  color: rgb(180, 7, 7);
  font-size:300px;
  background-color: black;
  width:300px;
  height:450px;
  }
  .add-btn:hover{
  background-color:rgb(180, 7, 7) ;
  color:black;
  }
  
  
  .Modal{
      width:30%;
      height: 80%;
      margin-left:35%;
      margin-top: 5%;
      background-color: black;
      text-align: center;
      padding-top: 10px;
  }
  
  .Modal input{
      width:80%;
      height:25px;
      margin-top: 10px;
  }
  
  .Modal button{
      width:100px;
      height:35px;
      background-color: white;
      font-size: medium;
      margin: 5px;
      align-self: flex-end;
  }
  label{
    color:white
  }
/*search*/
.search-bar{
  background-color: black;
  display: flex;
  text-align: center;
  padding-left:10px;
  padding-bottom:10px;
  padding-top:50px;

  height: 50px;

}
#search{
  width:40%;
  height:20px;

  margin-left: 15px;
  margin-right: 10px;
  background-color: rgb(190, 193, 196);
}